.top-panel {
    top: 20px;
    left: 20px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.top-panel__logo {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 30px;
    column-gap: 10px;
}

.top-panel__logo-text {
    font-size: 2.5rem
}

.top-panel__button-functions {

    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
}

.top-panel__functions {
    display: block;
}

.top-panel__button-functions:hover {
    cursor: pointer;
}

.top-panel__item-icon-button {
    width: 30px;
    height: 30px;
}

.top-panel__logo:hover {
    cursor: pointer;
}

.top-panel__logo:hover .logo-menu {
    display: block;
}

.logo-menu__item-button {
    font-size: 16px;
}
@media (max-height: 992px) {
    .top-panel__logo-text {
        font-size: 15px;
    }
    .top-panel__button-functions {
        width: 2rem;
        height: 2rem;
    }
    .top-panel__item-icon-button {
        width: 20px;
        height: 20px;
    }
    .top-panel__logo { 
        grid-template-columns: 1fr 20px;
    }
  }

  @media screen and (max-device-width: 767px) and (orientation: portrait),
  screen and (max-device-height: 767px) and (orientation: landscape){
  
    .top-panel{
        right: 0px;
        top: 0px;
        left:0px;
        width: 6rem;
        border-radius:0px;
        box-shadow: none;
    }

    .top-panel__logo{
        display: flex;
        column-gap: 0;
        width: 6rem;
        height: 6rem;
        border: 1px solid #a0a0a0;
        justify-content: center;
        align-items: center;
    }
    .top-panel__button-functions{
        width: 4rem;
        height: 4rem;
    }
    .top-panel__item-icon-button{
        width: 100%;
        height: 100%;
    }

    .top-panel__logo-text{
        display: none;
    }


}