@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("./blocks/fontawesome/solid.css");
@import url("./blocks/fontawesome/fontawesome.min.css");
@import url("./blocks/scale-panel/scale-panel.css");
@import url("./blocks/tool-panel/tool-panel.css");
@import url("./blocks/top-panel/top-panel.css");
@import url("./blocks/sub-tool-panel/sub-tool-panel.css");
@import url("./blocks/logo-menu/logo-menu.css");
@import url("./blocks/grid-panel/grid-panel.css");
@import url("./blocks/formulas/formulas.css");
@import url("./blocks/text-settings/text-settings.css");
@import url("./blocks/modal/modal.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html, body, .canvasWrapper
{
    width: 100vw;
    height: 100vh;
}

#canvasId {
    border: 1px solid red;
    display: block;
    touch-action: manipulation;
}

.canvasWrapper {
    position: relative;
    z-index: 1;
}

.scale__subtitle {
    margin-right: 10px;
}

.scale__value,
.scale__subtitle,
.header__title {
    font-size: 30px;
    font-weight: bold;
}

.settings-panel__button_active {
    background-color: yellow;
}

.tool-panel__item {
    position: relative;
}

#uploader {
  display: none;
}
@media (max-height: 992px) {
    .scale__value,
    .scale__subtitle {
        font-size: 15px;
    }
  }
.canvas-img {
    display: none;
}