@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("./blocks/fontawesome/solid.css");
@import url("./blocks/fontawesome/fontawesome.min.css");
@import url("./blocks/scale-panel/scale-panel.css");
@import url("./blocks/tool-panel/tool-panel.css");
@import url("./blocks/top-panel/top-panel.css");
@import url("./blocks/sub-tool-panel/sub-tool-panel.css");
@import url("./blocks/logo-menu/logo-menu.css");
@import url("./blocks/grid-panel/grid-panel.css");
@import url("./blocks/formulas/formulas.css");
@import url("./blocks/text-settings/text-settings.css");
@import url("./blocks/modal/modal.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html, body, .canvasWrapper
{
    width: 100vw;
    height: 100vh;
}
.canvas-container{
    z-index: 1;
}
.color-picker{
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
}
#canvasId {
    border: 1px solid red;
    display: block;
    touch-action: manipulation;
}
#canvasId_bg{
    display: block;
}
.absolute-container{
    position: absolute!important;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.canvasWrapper {
    position: relative;
    z-index: 1;
}

.scale__subtitle {
    margin-right: 10px;
}

.scale__value,
.scale__subtitle,
.header__title {
    font-size: 30px;
    font-weight: bold;
}

.settings-panel__button_active {
    background-color: yellow;
}

.tool-panel__item {
    position: relative;
}

#uploader {
  display: none;
}
@media (max-height: 992px) {
    .scale__value,
    .scale__subtitle {
        font-size: 15px;
    }
  }
.canvas-img {
    display: none;
}

.z-1020{
    z-index: 1020;
}
#accept_user_notify{
    position: fixed;
    z-index: 1020;
    left: 50%;
    translate: -50%;
    padding: 2rem;
    top:20px;
}

.d-none{
    display: none !important;
}

#desmos_block{
    width: 100%;
    height: auto;
    min-height: 60vh;
}

.slider_menu{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.slider_menu.active{
    display: block!important;
}
.slider_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.slider_menu li .slide_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 50px;
    border: 0px;
    background-color: #f9fafb;
    border-color: #f9fafb;
    cursor: pointer;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.slider_menu li button{
    display: block;
    width: 60px;
    height: 50px;
    border: 0px;
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .slider_menu */
/* .slider_menu */

.slider_menu{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.slider_menu.active{
    display: block!important;
}
.slider_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.slider_menu button.inactive svg{
    opacity: 0.3;
}
.slider_menu li .slide_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 50px;
    border: 0px;
    background-color: #f9fafb;
    border-color: #f9fafb;
    cursor: pointer;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.slider_menu li button{
    display: block;
    width: 60px;
    height: 50px;
    border: 0px;
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .slider_menu */
/* .slider_menu */