
#modal_window {
    display: none;
}

#modal_window.show{
    display: flex;
}

#modal_window > div{
    /* z-index: 1002; */
}
.modal_header{
    display: flex;
    justify-content: space-between;
    padding-bottom:1rem;
}
.modal_dialog{
    position: fixed;
    width: 50vw;
    height: 50vh;
    border: 1px solid gray;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    color: gray;
    padding:3rem;
    text-align: center;
    z-index: 2;
    background: #ffffff;
    top: 25vh;
    left: 25vw;
    display: flex;
}


#modal_window_close{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .55rem .95rem;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #6c757d;
    cursor: pointer;
    border: 1px solid #6c757d;
}
.modal_body{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.modal_tabs{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right:1px solid gray;
}
.modal_tabs .modal_tab{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .675rem 1.75rem;
    font-size: 2rem;
    line-height: 2;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
}
.modal_tabs .modal_tab.active{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.modal_content{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.modal_image{
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.modal_image img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}


  
.modal_overlay {
    /* transition: opacity 0.2s ease-out;
    pointer-events: none;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000; */
}
  