.logo-menu {
    padding-top: 10px;
    display: none;
    position: absolute;
    top: -12px;
    left: 160px;
    width: 200px;
    z-index: 2;
    transition: all 0.5s linear;
    font-size: 2rem;
}

.logo-menu__list {
    font-size: 1.8rem;
    border-radius: 15px;
    background-color: white;
    transition: all .4s linear;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.logo-menu__item {
    padding: 5px;
    border-bottom: 2px solid #8c8c8c;
    transition: all 0.3s linear;
}
.logo-menu__item:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.logo-menu__item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logo-menu__item:hover {
    cursor: pointer;
    background-color: rgba(161, 157, 157, 0.31);
}


.logo-menu__item-button {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: 16px;
}


@media screen and (max-device-width: 767px) and (orientation: portrait),
screen and (max-device-height: 767px) and (orientation: landscape) {
    .logo-menu__item{
        border-radius: 0;

    }
    .logo-menu{
        top: 100%;
        /* bottom: 0; */
        padding-top: 0;
    }
    .logo-menu__list{
        width: 50vw;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #a0a0a0;
    }
    .logo-menu__item{   
        border-bottom: 1px solid #a0a0a0;
        padding: 1.4rem;
    }
    .logo-menu__item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    
    .logo-menu__item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: none;
    }
}