.text-settings {
    display: none;
    align-items: center;
    top: 20px;
    left: 261px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    padding: 1.25px 5px;
    max-height: 52.5px;
    align-items: stretch;
    grid-template-columns: 130px 60px 50px 50px;
    grid-template-rows: 50px;
    column-gap: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.text-settings_active {
    display: grid;
}

.text-settings__font-item_active {
    background-color: yellow;
}

.text-settings__font-family-selected {
    font-size: 20px;
}

.text-settings__button-open-list {
    width: 20px;
    height: 20px;
}

.text-settings__button-open-list > img {
    width: 15px;
    height: 15px;
}




.text-settings__font-family {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-settings__select-font-family {
    font-size: 20px;
    padding: 5px;
    border-right: 2px solid black;
}

.text-settings__input-font-size {
    width: 40px;
}

.text-settings__font-size {
    display: flex;
    align-items: center;
}

.text-settings__font-size-value {
    font-size: 22px;
    margin-right: 5px;
}

.text-settings__button-font-size-wrapper {
    width: 15px;
    display: flex;
    flex-direction: column;

}

.text-settings__button-font-size-wrapper > button {
    width: 15px;
    height: 15px;
}

.text-settings__button-font-size-wrapper > button > img {
    width: 10px;
    height: 10px;
}

.text-settings__font-family {
    position: relative;
}

.text-settings__font-family-list_wrapper {
    display: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    background-color: white;
    top: 45px;
    left: -9px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    width: 195px;
}


.text-settings__font-family-item {
    font-size: 20px;
    border-bottom: 2px solid black;
}

.text-settings__font-family-item:hover {
    background-color: #d7d7d7;
}

.text-settings__font-family-item:last-child {
    border-bottom: none;
}

.text-settings__font-family_OpSan {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.text-settings__font-family_Mon {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.text-settings__font-family_Rob {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.text-settings__font-family-list_wrapper_active {
    display: block;
}

.setting-item {
    position: relative;

}

.setting-item:not(:last-child)::after {
    top: 0;
    right: -6.5px;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
}

.setting-item__button-font-family {
    width: 130px;
    height: 100%;
}




.setting-item__button-font-family:hover + div {
    display: block;
}

.setting-item__font-size {
    display: grid;
    column-gap: 10px;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.setting-item__font-size-value {
    grid-row: span 2;
    justify-self: center;
    font-size: 25px;
}

.setting-item__font-size > button {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
}

.setting-item__button-font-family {
    border: none;
    background: none;
    font-size: 20px;
}

.setting-item__font-style,
.setting-item__font-color {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-item__button-font-style, 
.setting-item__button-font-color {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    background: none;
}









.form-text__textarea {
    padding: 10px;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.form-text {
    display: flex;
    flex-direction: column;
}

.form-text__button-submit {
    font-size: 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 15px;
}

.form-text__input {
    margin-bottom: 10px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 25px;
}

.modal-text-wrapper {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal-text-wrapper_active {
    display: flex;
}







.setting-item__font-family {
    position: relative;
}

.setting-item__font-family-list-wrapper {
    width: 130px;
}

.setting-item__font-style-wrapper {
    width: 50px;
}



.setting-item__font-family-list {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.setting-item__font-family-item,
.setting-item__font-style-item {
    padding: 5px;   
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.setting-item__font-family-item:hover,
.setting-item__font-style-item:hover {
    cursor: pointer;
    background-color:rgba(150, 150, 150, 0.321)
}

.setting-item__font-family-item:not(:last-child),
.setting-item__font-style-item:not(:last-child) {
    border-bottom: 2px solid black;
}



.setting-item__input-font-color > input {
    -webkit-align-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.setting-item__input-font-color > input::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}

.setting-item__input-font-color > input::-webkit-color-swatch-wrapper {
    padding: .4rem;
}

.setting-item__font-color {
    position: relative;
}

.setting-item__font-color-list-wrapper,
.setting-item__font-family-list-wrapper,
.setting-item__font-style-wrapper {
    position: absolute;
    padding-top: 15px;
    top: 45px;
}

.setting-item__font-color-list-wrapper > div,
.setting-item__font-family-list-wrapper > div,
.setting-item__font-style-wrapper > div {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.setting-item__input-font-color {
    padding-top: 20px;
}

.setting-item__button-font-color + div,
.setting-item__button-font-family + div,
.setting-item__button-font-style + div {
    display: none;
}

.setting-item__button-font-color:hover + div {
    display: block;
}

.setting-item__button-font-style:hover + div {
    display: block;
}

.setting-item__button-font-family + div:hover,
.setting-item__button-font-color + div:hover,
.setting-item__button-font-style + div:hover{
    display: block;
}

.active {
    display: block !important;
}