.sub-tool-panel {
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
}

.sub-tool-panel__list {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: white;
    border-radius: 15px;
}

.sub-tool-panel__item-list {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub-tool-panel__item-button {
    background-color: white;
    padding: 0;
    border: none;
    height: inherit;
    width: 40px;
    border-right: 2px solid rgba(166, 166, 166, 0.35);
    transition: all 0.3s linear;
}


.sub-tool-panel__item-button:hover {
    background-color: rgba(161, 157, 157, 0.31);
}


.sub-tool-panel__item-list:first-child .sub-tool-panel__item-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sub-tool-panel__item-list:last-child .sub-tool-panel__item-button {
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.sub-tool-panel__item-icon-button {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
}

.sub-tool-panel__item-icon-button:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.sub-tool-panel_visible {
    padding-left: 10px;
    display: block;
}

.sub-tool-panel__item-list-color-selection > input {
    -webkit-align-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.sub-tool-panel__item-list-color-selection > input::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}

.sub-tool-panel__item-list-color-selection > input::-webkit-color-swatch-wrapper {
    padding: .50px;
}

@media screen and (max-device-width: 767px) and (orientation: portrait),
screen and (max-device-height: 767px) and (orientation: landscape){
    .sub-tool-panel{
        border-radius: 0px;
        bottom: 100%;
        left: 0;
        top: unset;
        transform: none;
        margin: 0;
        padding-left:0px !important;
    }
    .sub-tool-panel__list{
        border-radius: 0;
        flex-direction: column-reverse;
    }
    .sub-tool-panel__item-list{
        width: 6rem;
        height: 6rem;
    }
    .sub-tool-panel__item-button{
        padding: 0.5rem;
        border: 1px solid #a0a0a0;
        width: auto;
        border-bottom:none;
    }
    
    .sub-tool-panel__item-list:first-child .sub-tool-panel__item-button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .sub-tool-panel__item-list:last-child .sub-tool-panel__item-button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 1px solid #a0a0a0;
    }
}