.grid-panel {
    position: fixed;
    top: 20px;
    right: 30px;
    width: 170px;
    z-index: 2;
}

.grid-panel__title {
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.grid-panel__list-wrapper {
    display: none;
    padding-top: 5px;
}

.grid-panel:hover .grid-panel__list-wrapper {
    display: block;
}


.grid-panel__list {
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
}

.grid-panel__item {
    padding: 5px;
    border-bottom: 1px solid black;
}


.grid-panel__item:last-child {
    border-bottom: none;
}

.grid-panel__item:hover {
    cursor: pointer;
    background-color: rgba(161, 157, 157, 0.31);
}

@media (max-height: 992px) {
    .grid-panel__title {
        font-size: 15px;
    }
    .grid-panel {
        width: 80px;
    }
  }

  @media screen and (max-device-width: 767px) and (orientation: portrait),
  screen and (max-device-height: 767px) and (orientation: landscape){
    .grid-panel{
        right: 0px;
        top: 0px;
        width: auto !important;
        /* display: flex;
        flex-direction: column; */
    }
    .grid-panel__title{
        width: 6rem;
        height: 6rem;
        border-radius: 0;
        font-size: 1rem;
        margin:0px;
        padding: 0px!important;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        box-shadow:none;
        border: 1px solid #a0a0a0;
    
    }
    .grid-panel__list{
        
        border-radius: 0;
        font-size: 1rem;
        margin:0px;
        padding: 0px!important;
        box-shadow:none;
    }
    .grid-panel__item{
        width: 6rem;
        height: 6rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        font-size: 1rem;
        margin:0px;
        padding: 0px!important;
        text-align: center;
        box-shadow:none;
        border: 1px solid #a0a0a0;
        margin-top:-1px;
    }
    .scale__button {
        width: 6rem;
        height: 6rem;
        border-radius: 0;
        font-size: 3rem;
        margin:0px;
    }
    .grid-panel__item:last-child{
        border: 1px solid #a0a0a0;
    }
}