.tool-panel {
    border-radius: 15px;
    position: fixed;
    top: 200px;
    left: 20px;
    z-index: 2;
}

.tool-panel__list {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



.tool-panel__item {
    position: relative;
    list-style-type: none;
    width: 5rem;
    height: 5rem;
    border-bottom: 2px solid black;
}

.tool-panel__item:last-child {
    border-bottom: none;
}

.tool-panel__item:first-child > .tool-panel__item-button {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tool-panel__item:last-child > .tool-panel__item-button {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tool-panel__item-button {
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

.tool-panel__item-button:hover {
    cursor: pointer;
}

.tool-panel__item-icon-button {
    padding: 0.7rem;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;

}

.tool-panel__item-icon-button:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.tool-panel__item:hover > .sub-tool-panel {
    padding-left: 10px;
    display: block;
}

.tool-panel__item-list:first-child > .tool-panel__item-button {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tool-panel__item-list:last-child > .tool-panel__item-button {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


@media (max-height: 992px) {
    .tool-panel {
        top: 100px;
    }
    .tool-panel__item {
        width: 4rem;
        height: 4rem;
    }
  }

  @media screen and (max-device-width: 767px) and (orientation: portrait),
  screen and (max-device-height: 767px) and (orientation: landscape){
    .tool-panel{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x:scroll;
        overflow-y:hidden;
        top:unset;
        height: 6rem;
        width: 100vw;
        border: 1px solid #a0a0a0;
        border-radius: 0px;
        z-index: 3;
        background: white;
        box-shadow: none;
    }
    .tool-panel.full-screen{
        height: 100%;
        display: flex;
        align-items: end;
        background: rgba(205,205,205,0.9);
    }
    .tool-panel__list{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0px;
        box-shadow: none;
    }
    .tool-panel__item{
        width: 6rem;
        height: 6rem;
        
    }
    .tool-panel__item-button{
        padding: 0.5rem;
        border-right: 1px solid #a8a8a8;
        border-radius: 0px;
    }

    .tool-panel__item:first-child > .tool-panel__item-button {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .tool-panel__item:last-child > .tool-panel__item-button {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}